



h1{
    text-align: left;
    font-size: 15vw;
    margin-top: 20vw;
    margin-left:20vw;
    color:#2e565f;
    font-family:'Gasoek One' ;
}

.let{
    text-align: center;
    font-size: 7vw;
    margin-left:5vw;
    margin-right: 5vw;
    font-family: 'Vend Sans';
}

p{
    text-align: left;
    font-size: 3vw;
    margin-left:5vw;
    margin-right:5vw;
    font-family: 'Vend Sans';
}

.button{
    display: grid;
    width:90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 5vw;
    padding:2vw;
    margin:2vw;
    text-align: center;
    background-color:#fff;
    outline:solid;
    outline-color:black;
    outline-width: 0.5vw;
    border-radius: 7vw;
    color:black;
    font-family: 'Montserrat';
}

h2:hover{
    background-color: #259;
    color:white;
    transition: 0.3s;
}

.video{
    margin-top:10vw;
    display:block;
    width:90vw;
    height:auto;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

.balls{
    margin-top:10vw;
    display:block;
    width:90vw;
    height:auto;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

h3{
    text-align: left;
    font-size: 8vw;
    margin-top: 1vw;
    margin-left:5vw;
    margin-bottom:1vw;
    font-family: 'Vend Sans';
    font-weight: bold;
}

fotter{
    display:block;
    text-align: center;
    font-size: 2vw;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5vw;
    font-family: 'Vend Sans';
}
